**Heroes of Pymoli Data Analysis**

** Observed Trend 1:** There are more male players

**Observerd Trend 2:** Males players purchased more items

** Observed Trend 3:** Players between the ages of 20-24 made the most purchases

In [701]:
import pandas as pd
import numpy as np

In [702]:
df=pd.read_json("purchase_data.json")
df

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
22,11,Female,11,Brimstone,2.52,Deural48
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
25,21,Male,63,Stormfury Mace,1.27,Idai61
26,29,Male,132,Persuasion,3.90,Aerithllora36
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66
756,22,Male,6,Rusty Skull,1.20,Siasri67
757,35,Male,11,Brimstone,2.52,Seosri62
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87
760,29,Male,81,Dreamkiss,4.06,Aerithllora36
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33
762,36,Male,52,Hatred,4.39,Lisosiast26
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25
764,25,Male,70,Hope's End,3.89,Assassasda84
765,15,Male,13,Serenity,1.49,Aerithnucal56
766,22,Female,84,Arcane Gem,2.23,Nitherian58
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78
770,22,Male,141,Persuasion,3.27,Aenasu69
771,24,Male,25,Hero Cane,1.03,Lassista97
772,15,Male,31,Trickster,2.07,Sidap51
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63
774,24,Male,123,Twilight's Carver,1.14,Lassassast73
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85

**Player Count**

In [703]:
# unique player count
number_of_players = df['SN'].nunique()
number_of_players

573

In [704]:
#pd.DataFrame([number_of_players], columns=['Number of Players'])
pd.DataFrame([number_of_players], columns =['Number of Players'])

   Number of Players
0                573

**Purchasing Analysis (Total)**

In [705]:
# number of unique items
number_of_unique_items = df['Item ID'].nunique()
number_of_unique_items

183

In [706]:
# average purchase price
average_purchase_price = df['Price'].mean()
average_purchase_price = str(round( average_purchase_price, 2))
average_purchase_price

'2.93'

In [707]:
# total number of purchases 
total_number_of_purchases = df.shape[0]
total_number_of_purchases

780

In [708]:
# total revenue
total_revenue = df['Price'].sum()
total_revenue = '$' + str(round(total_revenue, 2))
total_revenue

'$2286.33'

In [709]:
data = {'Number of Unique Items': number_of_unique_items,
       'Average Price': average_purchase_price,
       'Number of Purchases': total_number_of_purchases,
       'Total Revenue': total_revenue}

In [710]:
pd.DataFrame([data])

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0          2.93                  780                     183      $2286.33

**Gender Demographics**

In [711]:
# unique player counts
counts = df.groupby('Gender').nunique()['SN']
counts

# total player count ( unique )
total_count = counts.sum()
total_count

573

In [712]:
male = counts[1]
female = counts[0]
other = counts[2]
percentage_male = ( male/total_count) * 100
percentage_female = ( female/total_count) * 100
percentage_other = ( other/total_count) * 100

In [713]:
#gender_counts = {male:percentage_male, female: percentage_female, other: percentage_other}
gender_counts
labels = ['Percentage of Players', 'Total Count']
gender_counts = [(percentage_male, male), 
                 (percentage_female, female), 
                 (percentage_other, other)]

In [714]:
pd.DataFrame.from_records(gender_counts, columns=labels, index=['male', 'female', 'other'])

        Percentage of Players  Total Count
male                81.151832          465
female              17.452007          100
other                1.396161            8

**Purchasing Analysis (Gender)**

In [715]:
# purchase count 
purchase_count = df['Gender'].value_counts()
purchase_count

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [716]:
# average purchase by gender
avg_purchase_by_gender = df.groupby('Gender')['Price'].mean()
avg_purchase_by_gender

Gender
Female                   2.815515
Male                     2.950521
Other / Non-Disclosed    3.249091
Name: Price, dtype: float64

In [717]:
# total purchase value
total_purchase_value = df.groupby('Gender')['Price'].sum()
total_purchase_value

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [718]:
pd.DataFrame({'Purchase Count': purchase_count, 
              'Average Purchase Price': avg_purchase_by_gender,
              'Total Purchase Value': total_purchase_value
             })

,Average Purchase Price,Purchase Count,Total Purchase Value
Female,2.815515,136,382.91
Male,2.950521,633,1867.68
Other / Non-Disclosed,3.249091,11,35.74

**Age Demographics**

In [719]:
# bins for each age group
bins = [ 1, 9, 10, 14, 15, 19, 20, 24, 25, 29, 30, 34, 35, 39, 40]

In [720]:
# purchase count
groups = df.groupby( pd.cut( df['Age'], bins) )
age_pur_count = groups.Price.count()

In [721]:
# average purchase value






age_avg_price = groups.Price.mean()
age_avg_price

Age
(1, 9]      2.980714
(9, 10]     3.290000
(10, 14]    2.702903
(14, 15]    2.986383
(15, 19]    2.861163
(19, 20]    2.884490
(20, 24]    2.924748
(24, 25]    3.082388
(25, 29]    2.824310
(29, 30]    3.111667
(30, 34]    3.070435
(34, 35]    3.085000
(35, 39]    2.746000
(39, 40]    3.222143
Name: Price, dtype: float64

In [722]:
# total purchase value


age_total_purchase = groups.Price.sum()

In [723]:
pd.DataFrame( { 'Purchase Count': age_pur_count,
                'Average Purchase Price': age_avg_price,
                'Total Purchase': age_total_purchase
              })

          Average Purchase Price  Purchase Count  Total Purchase
Age
(1, 9]                  2.980714              28           83.46
(9, 10]                 3.290000               4           13.16
(10, 14]                2.702903              31           83.79
(14, 15]                2.986383              47          140.36
(15, 19]                2.861163              86          246.06
(19, 20]                2.884490              98          282.68
(20, 24]                2.924748             238          696.09
(24, 25]                3.082388              67          206.52
(25, 29]                2.824310              58          163.81
(29, 30]                3.111667              18           56.01
(30, 34]                3.070435              46          141.24
(34, 35]                3.085000              12           37.02
(35, 39]                2.746000              30           82.38
(39, 40]                3.222143              14           45.11

**Top Spenders**

In [724]:
# top spenders
top_spenders = df.groupby("SN")
purchase_count = top_spenders['SN'].count()

In [725]:
average_pur_price = top_spenders['Price'].mean()

In [726]:
total_purchase = top_spenders['Price'].sum()

In [727]:
top = pd.DataFrame( { "Purchase Count": purchase_count,
               "Average Purchase Price": average_pur_price,
               "Total Purchase Value": total_purchase })

In [728]:
top.head()

              Average Purchase Price  Purchase Count  Total Purchase Value
SN
Adairialis76                2.460000               1                  2.46
Aduephos78                  2.233333               3                  6.70
Aeduera68                   1.933333               3                  5.80
Aela49                      2.460000               1                  2.46
Aela59                      1.270000               1                  1.27

In [729]:
# Sort in descending order
top_five = top.sort_values("Total Purchase Value", ascending=False)
top_five.head()

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Undirrala66                3.412000               5                 17.06
Saedue76                   3.390000               4                 13.56
Mindimnya67                3.185000               4                 12.74
Haellysu29                 4.243333               3                 12.73
Eoda93                     3.860000               3                 11.58

** Most Popular Items **

In [730]:
 purchase_count = df.groupby('Item ID')['Item ID'].count()

In [731]:
 total_purchase_value = df.groupby('Item ID')['Price'].sum()

In [732]:
item_price = df.groupby('Item ID')['Price'].mean()

In [733]:
popular = pd.DataFrame( { "Purchase Count": purchase_count,
                "Item Price": item_price,
                "Total Purchase Value": total_purchase_value })

In [734]:
popular.head()

         Item Price  Purchase Count  Total Purchase Value
Item ID
0              1.82               1                  1.82
1              2.28               4                  9.12
2              3.40               1                  3.40
3              1.79               1                  1.79
4              2.28               1                  2.28

In [735]:
# top five popular items
popular.sort_values("Purchase Count", ascending=False).head()

         Item Price  Purchase Count  Total Purchase Value
Item ID
39             2.35              11                 25.85
84             2.23              11                 24.53
31             2.07               9                 18.63
175            1.24               9                 11.16
13             1.49               9                 13.41

** Most Profitable Items **

In [736]:
 purchase_count = df.groupby('Item ID')['Item ID'].count()

In [737]:
 total_purchase_value = df.groupby('Item ID')['Price'].sum()

In [738]:
item_price = df.groupby('Item ID')['Price'].mean()

In [739]:
profit = pd.DataFrame( { "Purchase Count": purchase_count,
                "Item Price": item_price,
                "Total Purchase Value": total_purchase_value })

In [740]:
profit.head()

         Item Price  Purchase Count  Total Purchase Value
Item ID
0              1.82               1                  1.82
1              2.28               4                  9.12
2              3.40               1                  3.40
3              1.79               1                  1.79
4              2.28               1                  2.28

In [741]:
profit.sort_values("Total Purchase Value", ascending=False).head()

         Item Price  Purchase Count  Total Purchase Value
Item ID
34             4.14               9                 37.26
115            4.25               7                 29.75
32             4.95               6                 29.70
103            4.87               6                 29.22
107            3.61               8                 28.88