# Step 1

## NASA Mars News

In [3]:
# dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time

In [17]:
url = 'https://mars.nasa.gov/news/'

In [18]:
# initialize chrome driver
executable_path = { 'executable_path': "C:\\Windows\\chromedriver" }
browser = Browser('chrome', **executable_path, headless=False )

In [21]:
# make request to page
browser.visit(url)

In [22]:
# wait for page to finish loading, sleep for 5 seconds
time.sleep(5)

In [23]:
# get page html
html = browser.html

In [24]:
# create BeautifulSoup object
soup = BeautifulSoup( html, 'html.parser')

In [25]:
news_title = soup.find(class_='content_title').text
news_title

'NASA Engineers Dream Big with Small Spacecraft'

In [26]:
news_p = soup.find(class_='article_teaser_body').text
news_p

'The first CubeSat mission to deep space will launch in May.'

## JPL Mars Space Images - Featured Image

In [29]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [31]:
# visit page
browser.visit(url)

In [32]:
# click on button with text `FULL IMAGE`
browser.click_link_by_partial_text('FULL IMAGE')

In [33]:
# click on button with text `more info`
browser.click_link_by_partial_text('more info')

In [34]:
# get page html and create BeautifulSoup object
html = browser.html
soup = BeautifulSoup( html, "html.parser")

In [35]:
# get featured image link
image = soup.find(class_='lede').find('img')['src']
image

'/spaceimages/images/largesize/PIA13911_hires.jpg'

In [36]:
# add url to get full image url 
featured_image_url = 'https://www.jpl.nasa.gov/' + image
featured_image_url

'https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA13911_hires.jpg'

## Mars Weather

In [18]:
# dependencies
import tweepy
import os
from config import (consumer_key, 
                    consumer_secret, 
                    access_token, 
                    access_token_secret)

In [19]:
twitter_url = 'http://space-facts.com/mars/'

In [21]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

tweets = api.user_timeline('marswxreport')
mars_weather = tweets[0].text
mars_weather

'Sol 2026 (April 18, 2018), Sunny, high -6C/21F, low -73C/-99F, pressure at 7.19 hPa, daylight 05:26-17:21'

## Mars Facts

In [147]:
# dependency
import pandas as pd

In [148]:
url = 'https://space-facts.com/mars/'

In [149]:
table = pd.read_html(url)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [151]:
df = table[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [152]:
df.columns = ['description', 'value']
df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [153]:
df.columns

Index(['description', 'value'], dtype='object')

In [154]:
# drop first row and set index to `description`

df.set_index('description', inplace=True)
df.head()

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [155]:
# convert to html string
html = df.to_html()
html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [122]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [123]:
# visit url 
browser.visit(url)

In [107]:
# wait for page to load
time.sleep(5)

In [124]:
# get page html and create BeautifulSoup object
html = browser.html
soup = BeautifulSoup( html, "html.parser")

In [127]:
# get link and title for each hemisphere
links = soup.find_all(class_='description')

hemisphere_image_urls = []

for i in links:
    
    # get url 
    href = i.find('a')['href']
    
    # visit page 
    browser.visit('https://astrogeology.usgs.gov' + href )
    
    # get html 
    page_html = browser.html
    
    # create BeautifulSoup object
    page_soup = BeautifulSoup( page_html, "html.parser")
    
    # get title and image url 
    title = page_soup.find(class_='title').text
    
    img_url = page_soup.find(class_='downloads').find('a')['href']
    
    hemisphere_image_urls.append( { "title": title, "img_url": img_url  } )
    
print( hemisphere_image_urls )

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]